In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
model=load_model('model.h5')

with open('One_hot_encoder.pkl','rb')as file:
    One_hot_encoder=pickle.load(file)


with open('StanderScaler.pkl','rb')as file:
    scaler=pickle.load(file)

with open('label_encoder.pkl','rb')as file:
    lable_encoder=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [5]:
encoded_geo=One_hot_encoder.transform([[input_data['Geography']]]).toarray()
encoded_geo_df=pd.DataFrame(encoded_geo,columns=One_hot_encoder.get_feature_names_out(['Geography']))

d:\Ann churn predictior\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [6]:
encoded_geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [7]:
input_data=pd.DataFrame([input_data])

In [8]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [9]:
input_data['Gender']=lable_encoder.transform(input_data[['Gender']])

d:\Ann churn predictior\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [10]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [11]:
new_input_data=pd.concat([input_data.drop('Geography',axis=1),encoded_geo_df],axis=1)

In [12]:
new_input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [13]:
input_scaled=scaler.fit_transform(new_input_data)

In [14]:
input_scaled

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [15]:
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 73ms/step

array([[0.18487532]], dtype=float32)

In [16]:
prediction[0][0]

np.float32(0.18487532)

In [17]:
if prediction>0.5:
    print('The custmore likely to churn')
else :
    print('The custmore dont want to churn')

The custmore dont want to churn